@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%)
    fixed;
}

.navbar {
  width: 100vw;
  height: 5em;
  display: flex;
  align-items: center;
}

.url-input::placeholder {
  opacity: 1;
  color: #cad6d8;
  font-weight: bold;
}
.navbar-content{
  box-sizing: border-box;
}

.url-input,
.submit-btn {
  box-sizing: border-box;
  border: 1px white solid;
  margin-left: 10px;
  height: 3em;
  color: white;
  outline: none;
}

.submit-btn {
  box-sizing: border-box;
  text-align: center;
  height: 44px;
  padding: 15px;
}

.url-input {
  width: 350px;
  padding: 22px;
}